
@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
*{
    margin: 0px;
    padding :0px;
    box-sizing: border-box;
   

}

.header{
    width:100%;
    margin:auto;
    background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.6)), url(https://plus.unsplash.com/premium_photo-1661301131500-fcdf547735fd?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fHdvcmslMjBwbGFjZXxlbnwwfHwwfHx8MA%3D%3D);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.logo{
    margin-left: 50px;
    text-transform: uppercase;
    color: beige;
}

.menu{
    height:80px;
}
.menu h1{
    float:left;
    line-height: 80px;
    font-size: inline;
    color: white;
}
.menu ul{
    float:right;
    line-height: 80px;
}
.menu ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
.menu ul li a{
   color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 7px 8px;
}
.menu ul li a:hover{
    background-color:#4399fa;
    transition: 0.5s ease;
}
.menu ul li .active{
    background-color: #4399fa;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
     
}
.article h1{
    font-size: 36px;
    color:white;
    letter-spacing: 1.5px;
    font-weight: 800px;
    margin-bottom: 25px; 
}
.article p{
        font-size: 18px;
      color: grey;
        line-height: 1.5;
        margin-bottom: 50px;
}
.article .btn{
    color: #fff;
    padding: 12px 25px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f15048;
}
.article .btn:hover{
    background-color: #4399fa;
    transition: 0.5s ease;
}

